
.paginationNumbers{
    
position: absolute;
bottom:0px;
left: 50%;
transform: translate(-50%, -50%);


}

.paginationNumbers span{ 
    background-color: rgb(61, 35, 1);
    color: rgb(235, 235, 195);
    margin: 3px;
    border-radius: 2px;
}
.paginationNumbers span a{ 
    width: 50px;
   padding:0.5vw;
    text-decoration: none;
    color: rgb(235, 235, 195);
   
}